/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.textile .markItUpButton1 a {
	background-image:url(/mark_it_up/icons/h1.png); 
}
.textile .markItUpButton2 a {
	background-image:url(/mark_it_up/icons/h2.png); 
}
.textile .markItUpButton3 a {
	background-image:url(/mark_it_up/icons/h3.png); 
}
.textile .markItUpButton4 a {
	background-image:url(/mark_it_up/icons/h4.png); 
}
.textile .markItUpButton5 a {
	background-image:url(/mark_it_up/icons/h5.png); 
}
.textile .markItUpButton6 a {
	background-image:url(/mark_it_up/icons/h6.png); 
}
.textile .markItUpButton7 a {
	background-image:url(/mark_it_up/icons/paragraph.png); 
}

.textile .markItUpButton8 a {
	background-image:url(/mark_it_up/icons/bold.png);
}
.textile .markItUpButton9 a {
	background-image:url(/mark_it_up/icons/italic.png);
}
.textile .markItUpButton10 a {
	background-image:url(/mark_it_up/icons/stroke.png);
}

.textile .markItUpButton11 a {
	background-image:url(/mark_it_up/icons/list-bullet.png);
}
.textile .markItUpButton12 a {
	background-image:url(/mark_it_up/icons/list-numeric.png);
}

.textile .markItUpButton13 a {
	background-image:url(/mark_it_up/icons/picture.png); 
}
.textile .markItUpButton14 a {
	background-image:url(/mark_it_up/icons/link.png);
}

.textile .markItUpButton15 a	{
	background-image:url(/mark_it_up/icons/quotes.png);
}
.textile .markItUpButton16 a	{
	background-image:url(/mark_it_up/icons/code.png);
}

.textile .preview a {
	background-image:url(/mark_it_up/icons/preview.png);
}