<h1>Listing shops</h1>

<table>
  <tr>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', shop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shop', new_shop_path %>