<li id="<%= dom_id(element) -%>" style="display:inline">
  <span><%= image_tag "/images/elements/" + element.attachable.class.to_s.downcase + ".png" -%></span>
  <span><%= in_place_editor_for element, :name => :form %></span>
</li>
