<div>
  <%= f.label :element %><br />
  <% obj = f.object.new_record? ? :element_attributes : :element %>
  <% f.fields_for obj do |builder| %>
    <%= render 'elements/form', :f => builder %>
  <% end %>
</div>
