<% form_for(@element) do |f| %>
<p>
  <% f.fields_for :attachable, f.object.attachable do |builder|  %>
    <%= render "#{f.object.attachable.class.to_s.tableize}/form", :f => builder %>
  <% end %>
</p>
<% end %>