/*LAYOUTS */
p {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}
h1,h2,h3,h4,h5,h6 {
font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif 
}
html, body {
	margin: 0;
	padding: 0;	
}

body#plain {
    background: #F2F2F2;
}

body#application {
    padding: 25px;
    background: #F2F2F2;
}

body#custom {
    padding: 25px;
    background: #F2F2F2;
}

body#page {
    padding: 25px;
    background: #F2F2F2;
}

/* Flashes */

#flash_notice, #flash_error, #flash_alert {
  width:99.4%;margin: 0 auto;
  font: 180% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #222;
  text-align: center;
}

#flash_notice, #flash_alert {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* Headings and Paragraphs */

h1 {
	font-family: "Museo 700", Arial;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #D8D8D8;
	margin-bottom: 20px;
	padding: 0;
}

/* CONTENT AREA */
#content {
  clear: both;
  padding: 25px;
  min-height: 800px;
  height: auto !important;
  height: 800px;
  border: 1px solid #D2D2D2;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	box-shadow: 0 0 30px #CCC;
	background: #FFF;
  /*background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));*/
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
}

#page_share_links {
  float: right;
  clear: right;
  width: 370px;
  margin: 0 37px 0 0;
}

/* NAVIGATION */
li:hover {}
li a:hover { color: blue; }
li.highlighted a, li.highlighted li.highlighted a, li.highlighted li.highlighted li.highlighted a, li.highlighted li.highlighted li.highlighted li.highlighted a{
  color: red;
}
li.highlighted li a, li.highlighted li.highlighted li a, li.highlighted li.highlighted li.highlighted li a, li.highlighted li.highlighted li.highlighted li.highlighted li a{
  color: black;
}
li a {
  text-decoration:none;
}
li.highlighted {}

/* PARAGRAPH */
.paragraph {
    clear: both;
}  


/* TAG CLOUD */
.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }
