<h1>Home</h1>

<%
# TODO: DRY this into a helper function
unless @domain.blank?
  page_title @domain.title
  content_for :description, @domain.description
  content_for :keywords, @domain.keywords
  navigation_for(@domain)
end
%>

User controls:
<% unless user_signed_in? %>
<%= link_to "sign in", new_user_session_url %>
<%= link_to "sign up", new_user_registration_url %>
<% else %>
<%= link_to "edit user", edit_user_registration_url %>
<%= link_to "sign out", destroy_user_session_url %>
<% end %>

