<h1>Home</h1>

<%
# TODO: DRY this into a helper function
unless @domain.blank?
  page_title @domain.title
  content_for :description, @domain.description
  content_for :keywords, @domain.keywords
  navigation_for(@domain)
end
%>

<br />

<h2>Featured pages:<h2>
<% @featured_elements.each do |element| %>
  <%= render element.attachable unless element.attachable.is_a?(Page) %>
<% end %>
