<%
page_title h(@page.title)
content_for :description, h(@page.description)
content_for :keywords, h(@page.title)
navigation_for(@domain)

permitted_to? :update, @page do
  flash[:notice] ||= ("You should consider adding a title to this page.<br/>" if (@page.title == ""))
  flash[:notice] ||= ("You should consider adding a description to this page." if (@page.description == "")) 
  flash[:notice] ||= ("You should consider adding some keywords to this page.<br/>" if (@page.keywords == ""))
  content_for :user_controls do
    %><%= link_to ('Edit', edit_element_path(@page.element)) %><%
  end
end
%>
<h1 class="title"><%=h @page.title %></h1>

<% @page.element.children.each do |element| %>
  <%= render element.attachable unless element.attachable.is_a?(Page) %>
<% end %>

<% if @page.show_share_links? %>
<div id="page_share_links">
  <%= render "shared/add_this_button.html" %>
</div>
<% end %>

<% content_for :footer do %>
<% end %>
