<fieldset id="<%= f.object.class.to_s.downcase %>">
  <%= f.hidden_field :attachable_type, :value => f.object.class.to_s %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
</fieldset>