<div class="picture">
  <%=image_tag picture.image.url(:thumb), :alt => h(picture.description), :title => h(picture.title)  %>
  <span id="title"><%=h picture.title %></span>
  <span id="description"><%=h picture.description %></span>
</div>
