<div class="thumbnail">
  <div class="thumbContents">
    <%=image_tag picture.image.url(:thumb), :alt => h(picture.description), :title => h(picture.title)  %>
    <p><%=h picture.title %></p>
    <div id="description"><p><%=h picture.description %></p></div>
  </div>
</div>

