<%
add_javascript_include :jquery
add_stylesheet_include :jquery_ui
add_javascript_include :jquery_ui
add_javascript_include :jstree
add_javascript_include :jquery_layout
# need these because we can do this through ajax....or can we ;-)
add_stylesheet_include :formtastic
add_stylesheet_include :textile_editor
add_javascript_include :textile_editor

%>

<style type="text/css">
	/**
	 *	Basic Layout Theme
	 *
	 *	This theme uses the default layout class-names for all classes
	 *	Add any 'custom class-names', from options: paneClass, resizerClass, togglerClass
	 */

	.ui-layout-pane { /* all 'panes' */
		background: #FFF;
		border: 1px solid #BBB;
		padding: 10px;
		overflow: auto;
	}

	.ui-layout-resizer { /* all 'resizer-bars' */
		background: #DDD;
	}

	.ui-layout-toggler { /* all 'toggler-buttons' */
		background: #AAA;
	}

	.middle-center {
		/* center pane that are 'containers' for a nested layout */ 
		padding: 0; 
		border: 0;
    height: auto !important;
    min-height:500px;
    height:100%;
	} 

  #content {
		padding: 8px; 
		border: 0;
  }

	</style>

<style type="text/css">
.demo, .demo input, .jstree-dnd-helper, #vakata-contextmenu { font-size:10px; font-family:Verdana; }

.ui-layout-north{ display:block;}
#menu { display:block; }
#menu2 { display:block; }
#text { margin-top:1px; }

#alog { font-size:9px !important; margin:5px; border:1px solid silver; }
</style>



<!-- JavaScript neccessary for the tree -->
<script type="text/javascript">
$(function () {
	// Settings up the tree - using $(selector).jstree(options);
	// All those configuration options are documented in the _docs folder
	$("#demo")
		.jstree({
			// the list of plugins to include
			"plugins" : [ "themes", "json_data", "ui", "crrm", "cookies", "dnd", "search", "types", "hotkeys", "contextmenu" ],
			// Plugin configuration

			// I usually configure the plugin that handles the data first - in this case JSON as it is most common
			"json_data" : {
				// I chose an ajax enabled tree - again - as this is most common, and maybe a bit more complex
				// All the options are the same as jQuery's except for `data` which CAN (not should) be a function
				"ajax" : {
					// the URL to fetch the data
					url : "/tree/children",
					// this function is executed in the instance's scope (this refers to the tree instance)
					// the parameter is the node being loaded (may be -1, 0, or undefined when loading the root nodes)
					data : function (n) {
						// the result is fed to the AJAX request `data` option
						return {
							"id" : n.attr ? n.attr("id").replace("node_","") : ""
						};
					}
                }
			},/*
			"xml_data" : {
                "ajax" : {
					url : "tree.xml"
                },
                "xsl" : "nest"
			},*/
			// Configuring the search plugin
			"search" : {
				// As this has been a common question - async search
				// Same as above - the `ajax` config option is actually jQuery's object (only `data` can be a function)
				"ajax" : {
					"url" : "search",
					// You get the search string as a parameter
					"data" : function (str) {
						return {
							"search_str" : str
						};
					}
				}
			},
			// Using types - most of the time this is an overkill
			// Still meny people use them - here is how
			"types" : {
				// I set both options to -2, as I do not need depth and children count checking
				// Those two checks may slow jstree a lot, so use only when needed
				"max_depth" : -2,
				"max_children" : -2,
				// I want only `drive` nodes to be root nodes
				// This will prevent moving or creating any other type as a root node
				"valid_children" : [ "drive" ],
				"types" : {
					// The default type
					"default" : {
						"valid_children" : ["none", "domain"],
            "icon" : { "image" : "/images/elements/file.png"}
					},
          // basic building blocks
					"Paragraph" : {
						"valid_children" : ["none"],
            "icon" : { "image" : "/images/elements/paragraph.png"}
					},
					"Picture" : {
						"valid_children" : ["none"],
            "icon" : { "image" : "/images/elements/picture.png"}
					},
					"Link" : {
						"valid_children" : ["none"],
            "icon" : { "image" : "/images/elements/link.png"}
					},
					"Gallery" : {
						"valid_children" : ["Picture"],
            "icon" : { "image" : "/images/elements/gallery.png"}
					},
					"Stylesheet" : {
						"valid_children" : ["none"],
            "icon" : { "image" : "/images/elements/stylesheet.png"}
					},
					"HtmlElement" : {
						"valid_children" : ["Image","Paragraph","Article","Gallery","Form"],
            "icon" : { "image" : "/images/elements/html_element.jpg"}
					},
          // composed elements
					"Domain" : {
						"valid_children" : ["Page"],
            "icon" : { "image" : "/images/elements/domain.png"}
					},
					"Page" : {
						"valid_children" : ["Article","HtmlElement", "Page", "Gallery", "Picture", "Paragraph"],
            "icon" : { "image" : "/images/elements/page.png"}
					},
					"Article" : {
						"valid_children" : ["Picture","Paragraph"],
                        "icon" : { "image" : "/images/elements/article.png"}
					},
					// The `folder` type
					"folder" : {
						// can have files and other folders inside of it, but NOT `drive` nodes
						"valid_children" : [ "default", "folder" ],
						"icon" : {
							"image" : "/images/folder.png"
						}
					},
					// The `drive` nodes
					"drive" : {
						// can have files and folders inside, but NOT other `drive` nodes
						"valid_children" : [ "default", "folder" ],
						"icon" : {
							"image" : "/images/elements/root.png"
						},
						// those options prevent the functions with the same name to be used on the `drive` type nodes
						// internally the `before` event is used
						"start_drag" : false,
						"move_node" : false,
						"delete_node" : false,
						"remove" : false
					}
				}
			},
			// For UI & core - the nodes to initially select and open will be overwritten by the cookie plugin

			// the UI plugin - it handles selecting/deselecting/hovering nodes
			"ui" : {
				// this makes the node with ID node_4 selected onload
				"initially_select" : [ "node_1" ]
			},
			// the core plugin - not many options here
			"core" : {
				// just open those two nodes up
				// as this is an AJAX enabled tree, both will be downloaded from the server
				"initially_open" : [ "node_2" , "node_3" ]
			}
		})
		.bind("create.jstree", function (e, data) {
      var type = data.rslt.obj.attr("rel");
			$.post(
				"/elements/",
        { 
          "element" : {
            "id" : "new_element",
            "name" : data.rslt.name,
            "parent_id" : data.rslt.parent.attr("id").replace("node_",""),
            "position" : data.rslt.position,
            "tag_list" : type,
            "attachable_type" : type,
          // here we need to set up some json templates for
          // each new attachable - eg. Paragraph content can't be blank
            "attachable_attributes": {
              "attachable_type" : type,
              "title" : data.rslt.name,
              "description" : "",
              "keywords" : "",
              "content" : "Something here...",
              "show_share_links" : 1
            }
          }
				},
				function (r) {
					if(r.status == "200") {
						$(data.rslt.obj).attr("id", "node_" + r.id);
						$(data.rslt.obj).attr("url", r.url);
					}
					else {
            alert("Eeek something went wrong: " + r.errors)
  					$.jstree.rollback(data.rlbk);
					}
				},
        "json"
			);
		})
		.bind("remove.jstree", function (e, data) {
      var id = data.rslt.obj.attr("id").replace("node_","");
      // rails wants a form post with _method
      $.post(
				"/elements/"+id,
        {
          _method : "delete"
				},
				function (r) {
          alert("We need a response code if this operation failed?")
					//if(!r.status) {
					//	$.jstree.rollback(data.rlbk);
          //}
				}
			);
		})
		.bind("rename.jstree", function (e, data) {
			$.post(
				"/tree/update",
				{
					"operation" : "rename_node",
					"id" : data.rslt.obj.attr("id").replace("node_",""),
					"title" : data.rslt.new_name,
				},
				function (r) {
					if(!r.status) {
						$.jstree.rollback(data.rlbk);
					}
				}
			);
		})
		.bind("select_node.jstree", function (e, data) {
      var id = data.rslt.obj.attr("id").replace("node_","");
      $.get(
        data.rslt.obj.attr("url") + "/edit",
        {},
        function(data) {
          $('#properties').html(data);
        },
        "script"
      );
    })
		.bind("move_node.jstree", function (e, data) {
			$.post(
				"/tree/update",
				{
					"operation" : "move_node",
					"id" : data.rslt.o.attr("id").replace("node_",""),
					"ref" : data.rslt.np.attr("id").replace("node_",""),
					"position" : data.rslt.cp,
					"title" : data.rslt.name,
					"copy" : data.rslt.cy ? 1 : 0
				},
				function (r) {
					if(!r.status) {
						$.jstree.rollback(data.rlbk);
					}
					else {
						$(data.rslt.oc).attr("id", "node_" + r.id);
						if(data.rslt.cy && oc.children("UL").length) {
							data.inst.refresh(data.rslt.oc);
						}
					}
					//$("#analyze").click();
				}
			);
		});
});
</script>
<script type="text/javascript">

$(function () {
	$("#menu input,#menu2 input").click(function () {
		switch(this.id) {
			case "add_default":
			case "add_Domain":
			case "add_Paragraph":
			case "add_Picture":
			case "add_Link":
			case "add_Gallery":
			case "add_Stylesheet":
			case "add_HtmlElement":
			case "add_Page":
			case "add_Article":
                // need to add the other element types here
				$("#demo").jstree("create", null, "last", { "attr" : { "rel" : this.id.toString().replace("add_", "") } });
				break;
			case "search":
				$("#demo").jstree("search", document.getElementById("text").value);
				break;
			case "text": break;
      case "edit":
        alert("dont know how to get the id here");
      default:
				$("#demo").jstree(this.id);
				break;
		}
	});
});
</script>
<!--
<div style="position:absolute; right:10px; top:90px; width:220px; border:1px solid silver; min-height:160px;">
	<input type="button" style='display:block; width:170px; height:24px; margin:5px auto;' value="reconstruct" onclick="$.get('./server.php?reconstruct', function () { $('#demo').jstree('refresh',-1); });" />
	<input type="button" style='display:block; width:170px; height:24px; margin:5px auto;' id="analyze" value="analyze" onclick="$('#alog').load('./server.php?analyze');" />
	<input type="button" style='display:block; width:170px; height:24px; margin:5px auto;' value="refresh" onclick="$('#demo').jstree('refresh',-1);" />
	<div id='alog'></div>
</div>
-->



<div class="middle-center">

  <div class="ui-layout-north">
  
    <div id="menu">
      <input type="button" id="add_Domain" value="add domain" style="display:block; float:left;"/>
      <input type="button" id="add_Page" value="add page" style="display:block; float:left;"/>
      <input type="button" id="add_Paragraph" value="add text" style="display:block; float:left;"/>
      <input type="button" id="add_Picture" value="add picture" style="display:block; float:left;"/>
      <input type="button" id="add_Gallery" value="add gallery" style="display:block; float:left;"/>
      <!--
      <input type="button" id="add_Link" value="add link" style="display:block; float:left;"/>
      <input type="button" id="add_Stylesheet" value="add stylesheet" style="display:block; float:left;"/>
      <input type="button" id="add_HtmlElement" value="add htmlelement" style="display:block; float:left;"/>
      <input type="button" id="add_Article" value="add article" style="display:block; float:left;"/><br/>
      //-->
    </div>
  
  
    <div id="menu2">
    <!--
      <input type="button" id="edit" value="edit" style="display:block; float:left;"/>
      <input type="button" id="rename" value="rename" style="display:block; float:left;"/>
      <input type="button" id="remove" value="remove" style="display:block; float:left;"/>
      <input type="button" id="cut" value="cut" style="display:block; float:left;"/>
      <input type="button" id="copy" value="copy" style="display:block; float:left;"/>
      <input type="button" id="paste" value="paste" style="display:block; float:left;"/>
    -->
      <!--
      <input type="button" id="clear_search" value="clear" style="display:block; float:right;"/>
      <input type="button" id="search" value="search" style="display:block; float:right;"/>
      <input type="text" id="text" value="" style="display:block; float:right;" />
      -->
    </div>
  
  </div>

  <div class="ui-layout-west">
    <!-- the tree container (notice NOT an UL node) -->
    <div id="demo" class="demo"></div>
  </div>

  <div class="ui-layout-center">
    <div id="properties" class="properties"></div>
  </div>

<div>

<script type="text/javascript">
$(document).ready(function () {
		middleLayout = $('div.middle-center').layout({ 
			center__paneSelector:	".ui-layout-center" 
		,	west__paneSelector:		".ui-layout-west" 
		,	north__paneSelector:		".ui-layout-north" 
		,	west__size:				  250 
		,	north__size:        50 
		,	spacing_open:			  4  // ALL panes
		,	spacing_closed:		  4 // ALL panes
		,	center__onresize:		"innerLayout.resizeAll" 
		}); 
});
</script>
