<p>
  <b>Name:</b>
  <%=h product.name %>
</p>

<p>
  <b>Title:</b>
  <%=h product.title %>
</p>

<p>
  <b>Description:</b>
  <%=h product.description %>
</p>

<p>
  <%= link_to h(product.name), product %>
</p>