[Desktop Entry]
Encoding=UTF-8
Name=Link to imgres
Type=Link
URL=http://www.google.co.uk/imgres?imgurl=http://www.aliantewebdesign.com/img/menu/icons/domain.png&imgrefurl=http://www.aliantewebdesign.com/webdesign/internet-marketing.html&usg=__zKzrts3DG0RVbwWtapVZi_idb_g=&h=16&w=16&sz=1&hl=en&start=2&sig2=wSTBM5PZd3LhJeVHyVlnoQ&um=1&itbs=1&tbnid=zS7G97-cMaeE4M:&tbnh=16&tbnw=16&prev=/images%3Fq%3Ddomain%2Bpng%26um%3D1%26hl%3Den%26sa%3DN%26ndsp%3D20%26tbs%3Disch:1,isz:ex,iszw:16,iszh:16&ei=hmYjTKKXLY2YsgaRwoyvBA
Icon=gnome-fs-bookmark
