<h1>Editing paragraph</h1>

<% semantic_form_for(@paragraph, :html => {'data-remote' => true}) do |f| %>
  <%= render "form", :f => f %>
  <%= f.buttons %>
<% end %>

<%= link_to 'Show', @paragraph %> |
<%= link_to 'Back', paragraphs_path %>