<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<%= render :file => '/layouts/_head.html.erb', :locals => local_assigns %>

<body id="custom">

<%= render "shared/flashes" %>
<%= render "shared/user_controls" %>

<%= liquidize(@page.custom_layout_content,
        'content' => yield, 
        'user_controls' => yield(:user_controls), 
        'title' => yield(:title),
        'navigation' => yield(:navigation),
        'footer' => yield(:footer)
        ) %>

<small>Custom</small>

</body>
</html>
